.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

//Created: Wednesday, 29 March BE 2566 22:01
//Modified: Wednesday, 29 March BE 2566 22:01
