.layout{
    display: flex;
    /* margin-top: 10% ; */
    flex-direction: column;
    align-items: center;
}

img{
    height: 300px;
    /* width: 180px; */
    border-radius: 50%;
    margin: 0;
}

.name{
    font-size: 2rem;
    font-weight: 500;
    margin: 20px;
    color: rosybrown;
}

hr{
    width: 300px;
    background-color: cadetblue;
    height: 5px;
    border-radius: 20px;
    border: none 0;
}

//Created: Wednesday, 29 March BE 2566 22:01
//Modified: Wednesday, 29 March BE 2566 22:35
